@charset "UTF-8";
body{
		background-image: url("https://pbs.twimg.com/media/Ddyfl16VwAAQCZj?format=jpg&name=medium");
	background-color: skyblue;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
a{
	 text-decoration:none;
	 color: #000;
}
h2{
	text-align: center;
	text-shadow: 1px 1px grey;
}
#box{
	box-shadow: 4px 4px grey;
	padding: 3%;
	background-color:#fff2a7;
	line-height:2;

}
label{
	font-weight : 700;
}

.textbox{
	box-shadow: inset 0 2px 4px #ffc133;
	display: inline;
	border: 1px solid gold;
	padding: 2px;
}
button{
	background-color:gold;
	border: 1px solid #ffc133;
	box-shadow: 2px 2px orange;
}
button:hover{
	background-color:orange;
	border: 1px solid #ffc133;
}
.star{
	background-color:#FA8A8A;
	border: 1px solid #E97E7E;
	box-shadow: 2px 2px #E36767;
}
.star:hover{
	background-color:#E36767;
	border: 1px solid #E97E7E;
	box-shadow: 2px 2px #E36767;
}


